<div class="footer">
  <div class="footer-links">
    <%= image_tag("logo-mcap-1.jpg", size: "68") %>
  </div>
  <div class="footer-copyright">
    Este estudio fue realizado gracias al apoyo del Fondo de Fomento Audiovisual, Convocatoria 2017.
  </div>
</div>
