   <div class="container-fluid inner">
  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
    <% @todorol.each do |rol| %>
     <th><%= rol %></th>
     <td><%= link_to "#{rol}", rol_path(rol) %></td>
         </tr>
         <% end %>
  </table>
