<div class="containerbox">
    <div class="boxed">
      <div id='dashboard2'>
      <script src="https://d3js.org/d3.v3.min.js"></script>
        <h3>Cantidad de roles realizados ordenados según sexo</h3>
        <p>(n = Cantidad de roles) </p>
        <%= render 'grafico' %>
      </div>
      </div>
    <div class="boxes-right">
      Quiénes Somos
      <br>
      <p>Ucronía es una organización de la sociedad civil que considera la necesidad de realizar investigación-acción para combatir las desigualdades que emergen del sistema capitalista neoliberal patriarcal y androcéntrico.</p>
    </div>
  </div>
