<section id="section01" class="demo">
  <div class="containerbox">
    <div class="boxed">
      <div id='dashboard1'>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <h3>Total de películas ordenadas según sexo director/a </h3>
        <p>(n = Cantidad de Películas) </p>
        <%= render 'graficopeli' %>
      </div>
    <div class="boxes-right">
      <div class="boxedar">
      Quiénes Somos
      <br>
      <p>Ucronía es una organización de la sociedad civil que considera la necesidad de realizar investigación-acción para combatir las desigualdades que emergen del sistema capitalista neoliberal patriarcal y androcéntrico.</p>
    </div>
    <a href="#section02"><span></span>Siguiente</a>
    </div>
  </div>
</section>

<section id="section02" class="demo">
  <div class="containerbox">
    <div class="boxed">
      <h3>Cantidad de Técnicos/Elencos ordenados según sexo</h3>
      <p>(n = Cantidad de personas) </p>
      <%= render 'graficopersonas' %>
      </div>
    <div class="boxes-right">
      <div class="boxedar">
      Quiénes Somos
      <br>
      <p>Ucronía es una organización de la sociedad civil que considera la necesidad de realizar investigación-acción para combatir las desigualdades que emergen del sistema capitalista neoliberal patriarcal y androcéntrico.</p>
    </div>
    <a href="#section03"><span></span>Siguiente</a>
    </div>
  </div>
</section>

<section id="section03" class="demo">
  <div class="containerbox">
    <div class="boxed">
      <div id='dashboard2'>
      <script src="https://d3js.org/d3.v3.min.js"></script>
        <h3>Cantidad de roles realizados ordenados según sexo</h3>
        <p>(n = Cantidad de roles) </p>
        <%= render 'grafico' %>
      </div>
      </div>
    <div class="boxes-right">
      Quiénes Somos
      <br>
      <p>Ucronía es una organización de la sociedad civil que considera la necesidad de realizar investigación-acción para combatir las desigualdades que emergen del sistema capitalista neoliberal patriarcal y androcéntrico.</p>
    </div>
  </div>
<a href="#section04"><span></span>Siguiente</a>
</section>

<section id="section04" class="demo">
  <div class="containerbox">
    <div class="boxed">
      <div id='dashboard3'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <h3>Películas Financiadas por Institución según sexo director/a</h3>
        <p>(n = Cantidad de películas) </p>
        <%= render 'graficofondo' %>
      </div>
      </div>
    <div class="boxes-right">
      Quiénes Somos
      <br>
      <p>Ucronía es una organización de la sociedad civil que considera la necesidad de realizar investigación-acción para combatir las desigualdades que emergen del sistema capitalista neoliberal patriarcal y androcéntrico.</p>
    </div>
  </div>
<a href="#section05"><span></span>Siguiente</a>
</section>
