  <div class="container-fluid inner">
  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
    <% @todorol.each do |rol| %>
  <th><%= rol %></th>
    <% i= 5 %>
    <%  while i < 16 %>
    <% ano= 2000 +i %>
    <td>  <%= ano %> </td>
    <td><%= mujer(ano, rol) %></td>
    <td><%= hombre(ano, rol) %></td>
    <% i= i+1 %>
    <% end %>
</tr>
<% end %>



