
<section id="section01" class="demo">
  <div class="containerbox">
    <div class="boxed">
      <h1>Presentación</h1>
       El presente informe es el resultado de la investigación “Participación de la mujer en la Industria Cinematográfica Nacional” (Folio 400991) de la Línea de Investigación del Fondo Audiovisual del Ministerio de las Artes y la Cultura. En ésta, nos propusimos analizar las oportunidades de acceso a la realización de cine en Chile por parte de mujeres, por lo que se indagó en elementos cuantitativos que nos delinearan un perfil base sobre quiénes y cómo se estaba haciendo cine en Chile, perfil segregado según el sexo; como también se pesquisó -vía entrevistas semiestructuradas-,   respecto de los significados que tanto mujeres como varones en distintos roles del proceso de producción y realización de cine en Chile, han ido construyendo sobre los facilitadores y obstáculos para realizar su trabajo cinematográfico en Chile. Esta investigación, por tanto, considera la dimensión de género como una categoría relevante a la hora de estudiar y analizar los fenómenos y artefactos culturales de la vida social, y evidencia que dicha dimensión organiza las relaciones al interior de la producción y realización de cine al reactualizar roles y estereotipos de género.
        <br>
        <br>
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      Quiénes Somos
        <br>
      <p>Ucronía es una organización de la sociedad civil que considera la necesidad de realizar investigación-acción para combatir las desigualdades que emergen del sistema capitalista neoliberal patriarcal y androcéntrico.</p>

    </div>
    <div class="boxeda">
  <i style="text-align: right"> Es necesario hacer visible el despliegue de una mirada masculina situada en una posición hegemónica respecto a la representación de   la mujer en el cine, mirada que articula el lenguaje de la representación (Cruzado, 2009).</i>
    </div>
    </div>
  </div>
  <a href="#section02"><span></span>Siguiente</a>
</section>

<section id="section02" class="demo">
  <div class="containerbox">
    <div class="boxed">
      <h1>Antecedentes</h1>
      <br>
La teoría fílmica feminista tiene dos grandes objetivos (Cruzado, 2009): en primer lugar, denunciar el carácter construido de las imágenes femeninas y, en segundo término, plantear alternativas y rupturas a estos estereotipos. En el primer objetivo se ha centrado gran parte de la teoría crítica en la temática; pero respecto del segundo objetivo, el que fomenta otras formas de representar lo femenino y a las mujeres, el énfasis se puntualiza desde una perspectiva historiográfica que permite sacar a la luz la visión –la mirada- de las mujeres. Así, se busca recuperar las voces silenciadas de las mujeres en la historia, la cual ha sido escrita mayoritariamente por hombres. De esta forma, no basta sólo con el análisis de los roles y los estereotipos que representan a las mujeres en imágenes histórica y culturalmente determinadas, sino también se precisa analizar los modos en que se cuentan esas historias. Desde una nueva narrativa histórica, nos propone la autora, conviene enfatizar en el predominio masculino en la creación artística en general y del cine en particular donde la participación femenina queda relegada a roles secundarios o de poco prestigio. Y tal como se verá en la presente investigación, es posible evidenciar un Orden de Género que organiza las relaciones en la realización y producción de cine en Chile, donde se actualizan roles y estereotipos de género, a la vez que se disputan los significados y los “modos de hacer” en el proceso mismo.
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      Para el presente proyecto queremos dar cuenta de la mirada de la cámara la cual, si bien vincula al espectador con el protagonista, en el cine moderno hegemónico se construye desde una óptica masculina y se dirige a un espectador masculino (Cruzado, 2009), subrepresentando las miradas de las mujeres en el cine, tanto de espectadoras como de realizadoras.
    </div>
    <div class="boxeda">
      <i style="text-align: right">Frase</i>
    </div>
  </div>
  </div>
  <a href="#section03"><span></span>Siguiente</a>
</section>

<section id="section03" class="demo">
  <div class="containerbox">
    <div class="boxed">
      <h1>Conclusiones Generales?</h1>
      <br>
      Entre los resultados clave del estudio, se incluyen los siguientes:
Únicamente el 30,9% de los personajes con líneas de diálogo son mujeres.
Hay varios países que están por encima de la norma mundial: Reino Unido (37,9%), Brasil (37,1%) y Corea del Sur (35,9%). Sin embargo, estos porcentajes son muy inferiores a las cifras de población del 50%. Hay dos ejemplos por debajo de la media: en las películas coproducidas por el Reino Unido y Estados Unidos (23,6%) y las películas indias (24,9%) los personajes femeninos representan menos de una cuarta parte de todos los papeles con líneas de diálogo.
Se evidencia una ausencia de personajes femeninos en las películas de acción y aventuras. Únicamente el 23% de los personajes con líneas de diálogo en este género son femeninos.
De un total de 1.452 cineastas de los que se conoce el género, el 20,5% son mujeres y el 79,5% son hombres. Las mujeres constituyeron el 7% de los directores, el 19,7% de los guionistas, y el 22,7% de los productores de la muestra estudiada.
Las películas con una directora o una guionista tenían un número significativamente más alto de niñas y mujeres en pantalla en comparación con las películas en las que no había directora o guionista.
La sexualización es la norma para los personajes femeninos en todo el mundo: las jóvenes y las mujeres tienen el doble de posibilidades, frente a los jóvenes y los hombres, de aparecer en ropa sexualmente sugestiva, desnudas parcialmente o íntegramente, y delgadas; y tienen cinco veces más posibilidades de que se haga referencia a ellas como personas atractivas. Las películas para públicos más jóvenes son menos propensas a sexualizar a las mujeres que las películas para públicos de más edad.
Las adolescentes (de 13 a 20 años) tienen la misma probabilidad de aparecer sexualizadas que las jóvenes adultas (de 21 a 39 años).
    </div>
    <div class="boxes-right">
      <div class="boxedar">
En los puestos de liderazgo predominan los hombres; únicamente el 13,9% de los ejecutivos y sólo el 9,5% de los políticos de alto nivel son mujeres.
Entre las profesiones de prestigio, los personajes masculinos superan a los femeninos en fiscales y jueces (13 frente a 1), profesores (16 frente a 1), profesionales médicos (5 frente a 1), y en ámbitos de ciencia, tecnología, ingeniería y matemáticas (7 frente a 1).
      </div>
      <div class="boxeda">
Los personajes femeninos únicamente constituyen el 22,5% de la fuerza laboral de las películas a nivel mundial frente a los personajes masculinos, con una cifra del 77,5%.
      </div>
    </div>
  </div>
  </div>
  <a href="#section04"><span></span>Siguiente</a>
</section>

<section id="section04" class="demo">
  <div class="containerbox">
   <div class="boxed">
      <h1>Roles según sexo</h1>
      <br>
      Uno de los elementos más llamativos a la hora de comprender la estructura laboral y profesional de quienes se insertan en el mundo del cine en el país, hace relación con una trayectoria de la división sexual del trabajo que se manifiesta tanto en el ámbito educativo como en el laboral. Esta división sexual del trabajo asocia los roles en los equipos de trabajo según el sexo de las personas, naturalizando distinciones que se arraigan en estereotipos de género.  Estos atraviesan la realización y producción de cine donde a los espacios y roles masculinizados (dirección de fotografía, dirección, producción ejecutiva, eléctricos, sonido, grip, entre otros) se contraponen aquellos espacios y roles feminizados (dirección de arte, montaje, maquillaje, vestuario, producción general y asistente de producción) donde se despliegan lógicas de cuidado al interior de las relaciones laborales.
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      “Yo estaba trabajando con mi pareja en esa época, y él filmaba como director, y yo atrás. Detrás de todo gran hombre hay una gran mujer. Armaba todas las producciones, armaba todas las cuestiones, armaba todos los equipos. Lo
    convencía de las ideas, y después él tenía ahí su firma. Yo salí de esa productora sin
    ningún crédito, sin que nadie supiera quién era, excepto la gente que había trabajado
    conmigo, después de siete años de trabajo…” (Técnica 2)
    </div>
    <div class="boxeda">
      “[…] En ese sentido las mujeres estaríamos a la par del cine indígena o del cine gay o el cine de los minusválidos o cualquier persona que esté un poco lejos de la cúpula del poder va a tener una relación con la estructura de poder del cine y con los temas desde ahí, desde una periferia…” (Directora 2)
    </div>
  </div>
  </div>
  <a href="#section05"><span></span>Siguiente</a>
</section>

<section id="section05" class="demo">
  <div class="containerbox">
      <div class="boxed">
      <h1>Equipos de trabajo</h1>
        Es interesante observar que, desde el relato de las y los interlocutores entrevistados, la elección del equipo de trabajo hace relación con confianzas construidas en función de la experiencia de trabajo conjunto; pero que, al focalizar en las entrevistadas, tienden a preferir equipos de trabajo con predominancia de mujeres.
    </div>
    <div class="boxes-right">
      <div class="boxedar">
        Una Frase de este apartado
      </div>
      <div class="boxeda">
        conclusión de este apartado
      </div>
      </div>
    </div>
  <a href="#section06"><span></span>Siguiente</a>
</section>

<section id="section06" class="demo">
  <div class="containerbox">
    <div class="boxed">
      <h1>El documental </h1>
    Como refugio de las mujeres
      <br>
      Es sumamente interesante el ordenamiento entre tipos de largometraje y sexo, al cual todas y todos los entrevistados aluden: así, hay más mujeres realizadoras en el ámbito documental
      Uno de estos elementos a destacar tiene precisamente que ver con la conformación de los equipos de trabajo y la constitución de relaciones laborales más horizontales. En este sentido, el método de producción se distancia significativamente entre la ficción y el documental; se trabaja con equipos pequeños ya que aproximarse a una realidad específica que, aparentemente, los hombres tenderían a distanciarse.
      Otro elemento que se rescata en la asociación realizadoras-documentales se relaciona con una sensibilidad femenina que es propia del proceso productivo del documental; Este elemento es relevante ya que, si bien se configura como central en la distinción del tipo de largometraje, es también una dimensión que articula las narrativas e imágenes generales.
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      Una Frase de este apartado
    </div>
    <div class="boxeda">
      conclusión de este apartado
    </div>
    </div>
    </div>
  <a href="#section07"><span></span>Siguiente</a>
</section>

<section id="section07" class="demo">
  <div class="containerbox">
     <div class="boxed">
      <h1>Narrativas e imágenes: </h1>
      La sensibilidad femenina como discurso
      <br>
        ¿Existe un cine de mujeres? La pregunta no apunta exclusivamente a la autoría del largometraje (sea de ficción o documental), sino a la constitución de un espacio delimitado donde se despliegan narrativas e imágenes con el sello de las mujeres. De las entrevistas se infiere la existencia de posturas diversas en torno al tema; mientras algunas realizadoras responden afirmativamente a dicha pregunta, otras/os relevan el desarrollo de una “sensibilidad femenina” independiente del sexo del/a realizador/a. En este sentido, se prioriza la experiencia personal de cada cineasta como variable explicativa al ser las experiencias, los puntos de vista, las miradas, las que marcan la diferencia al realizar una película. Pero, y tal como se ya comentó, es también la sensibilidad femenina independiente del sexo del/a realizador/a, la que le otorga ciertas profundidades. En este sentido, el cine de mujer hace referencia a narrativas e imágenes que se encuentran en un lugar periférico del poder, relegadas por el poder adquiriendo una dimensión contracultural del cine realizado por mujeres.
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      Una Frase de este apartado
    </div>
    <div class="boxeda">
      conclusión de este apartado
    </div>
    </div>
    </div>
  <a href="#section08"><span></span><span></span><span></span>Siguiente</a>
</section>
<section id="section08" class="demo">
  <div class="containerbox">
      <div class="boxed">
      <h1>TEXTO
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      Una Frase de este apartado
    </div>
    <div class="boxeda">
      conclusión de este apartado
    </div>
    </div>
    </div>
  <a href="#section09"><span></span>Siguiente</a>
</section>
<script>$(function() {
  $('a[href*=#]').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({ SiguienteTop: $($(this).attr('href')).offset().top}, 500, 'linear');
  });
});</script>
