   <div id="chartContainer" style="height: 150px; width: 150px;"></div>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
          window.onload = function () {

          var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title:{
            },
            data: [{
              type: "doughnut",
              startAngle: 60,
              dataPoints: [
              <% hombre="Hombre" %>
              <% mujer="Mujer" %>
                { y: <%= director(hombre) %>, label: "Hombres" },
                { y: <%= @mujer.count %>, label: "Mujeres" },
                { y: <%= @otro.count %>, label: "Sin_información" },
              ]
            }]
          });
          chart.render();

          }
</script>
