@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:200,300);

.containerbox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  padding: 30px 0;
}
.boxed {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  justify-content: space-around;
  background: white;
  padding: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-text:right;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}

.boxed h2{
  text-align: right;
  font-size: 24px
}

.boxes-right {
  height: calc(100vh - 70px);
  margin-top: 30px;
  display: flex;
}
.boxedar{
  display: flex;
  flex-direction: column;
 grid-column: 3 / span 1;
  grid-row: 1 / span 2;
  justify-content: center;
  background: white;
  padding: 50px;
  margin: 10px;
  align-items: right;
  height: 100%;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;

}

.boxeda{
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  justify-content: space-around;
  background: white;
  padding: 50px;
  margin: 10px;
  align-self: center;
  height: 50%;
  overflow: scroll;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}

.caja{
  background: white;
  padding: 20px;
  margin: 50px;
  margin-left: 0px;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  font-size: 25px
}

.boxed2 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  justify-content: space-around;
  background: white;
  padding: 50px;
  margin: 10px;
  justify-content: center;
  text-align: right;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}
